{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1 class="title">About {{ onCapitalize name }}</h1>
    </div>
    <div class="col-4">
        <img src="assets/img/husky.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}